.section-links {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.section-nav {
  margin-left: 15%;
  margin-right: 15%;
}

.section-links li {
  font-size: 13px;
  font-family: $sans-serif;
}