/* PHASE 9: Forms */
.thumb-form {
  display: flex;
}

.input {
  display: flex;
  flex-direction: column;
}

.thumb-form > form {
  height: 325px;
  width: 500px;
  background-color: lightgrey;
  padding: 20px;
  margin-left: 15px;
  border: thin black;
  border-style: groove;
  border-radius: 5%;
}

#post-title, #post-body {
  background-color: white;
}

.submit {
  color: white;
  font-weight: 800;
  background-color: lime;
  border-style: groove;
  border:  thin;
  border-radius: 10%;
  box-shadow: darkgreen;
  padding: 15px;
  margin: 10px;
}

.thumb-form label {
  font-weight: 900;
  margin: 3px;
}